body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    margin: 0; 
    min-height: 100vh; 
}

li {
    margin-bottom: 0.5in; 
}

header {
    width: 100%; 
}

.container {
    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background: #fff; 
    border-radius: 8px; 
}


body, h1, h2, p, a {
    font-family: 'Open Sauce', sans-serif; 
}

.my-story-img {
    width: 100% ;
    
     
}
.background-img {
    width: 70% ;
}
.my-phil-img {
    width: 100% ; 
}

.button-container {
    display: flex; 
    justify-content: center; 
    
}

.button {
    margin: 2px; 
}

.button-image {
    
    display: inline-block;
    height: auto; 
/*     width: 100%; */
    cursor: pointer; 
    transition: transform 0.3s; 
    
}

.button-image:hover {
    transform: scale(1.05); 
}

.highlight {
    padding: 0.2em 0.4em; 
    border-radius: 4px;   
    text-decoration: none; 
    color: black;         
}

.highlight a {
    color: black;         
}
.yellow {
    background-color: #e0e08e; 
    
    display: inline-block; 
}
.light-blue {
    background-color: #ADD8E6; 
}

.light-pink {
    background-color: #FFB6C1; 
}

.green {
    background-color: #90EE90; 
}

.light-red {
    background-color: #FFCCCB; 
}

.light-green {
    background-color: #98FB98; 
}
.experience-text {
    font-family: 'Open Sauce One', sans-serif;  
    padding: 0.1in 15px; 
}
.experience-container {
    display: flex;
    align-items: flex-start; 
}
.experience-text p {
    font-family: 'Open Sauce One', sans-serif !important; 
}
.container p {
    font-family: 'Open Sauce One', sans-serif !important ;
}
.container h1{
    margin-left: 0.9in; 
    margin-top: 0;    
    margin-bottom: 20px; 
    text-align: left;  
    font-family: 'Open Sauce One', sans-serif !important ;
    font-size: 90px
}
.highlight {
    padding: 0.2em 0.4em; 
    border-radius: 4px;   
}

.highlight-list {
    font-size: 1.2em; 
    line-height: 1.5; 
    margin: 10px 0; 
}

.highlight-list li {
    margin-bottom: 10px; 
}
h2 {
    color: rgb(245, 0, 0); 
}

body {
    font-family: 'Open Sauce', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto;
}


    
} */


} */


    
} */ */


    
    
} */ */ */


    
} */ */ */

.photo {
    flex: 1 1 300px; 
    max-width: 100%; 
    height: auto; 
}

